body {
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding-left: 250px;
    padding-right: 250px;
    width: 100%;
    height: auto;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    padding-top: 10px;
}

ul {
    list-style-type: none; 
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}